* text eol=lf
*.bat eol=crlf
*.ipynb linguist-detectable=false
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.json filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
Lab-NN/log/*.txt filter=lfs diff=lfs merge=lfs -text
